.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 3);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
  height: 95%;
  position: relative;

  @media (max-width: $mantine-breakpoint-md) {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
  }
}

.inner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/images/medical-hero.png') no-repeat;
  background-size: contain;
  background-position: right;
  opacity: 0.4;
  z-index: 0;

  /* @media (max-width: $mantine-breakpoint-sm) {
    background: none;
  } */
}

.content {
  max-width: rem(480px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    margin-right: 0px;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: var(--mantine-font-family);
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}

.listItemDescription {
  font-size: rem(14px);
  text-wrap: balance;
  font-weight: 600;
}
